.login-form {
    width: 430px;
  
    padding: 40px 55px;
    margin: 50px auto;
    transform: translateY(120px);
    background: linear-gradient(
      180deg,
      rgba(76, 61, 165, 0.95) 0%,
      rgba(53, 36, 122, 0.95) 100%
      
    );
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-form p {
    margin-top: 12px;
    margin-bottom: 50px;
    font-size: 26px;
    color: white;
    font-weight: 400;
  }
  
  .login-form form {
    width: 100%;
  }
  
  .field {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 35px;
    padding-bottom: 10px;
  }
  
  .field svg {
    flex-shrink: 0;
  }
  
  .field input {
    width: 100%;
    margin-left: 15px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
  }
  
  .field input::placeholder {
    color: rgba(255, 255, 255, 0.45);
  }
  
  button {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
  }
  
  button[type="submit"] {
    width: 300;
height: 50;
opacity: 1;
border-radius: 20px;
    margin-top: 15px;
    background: linear-gradient(90deg, #ffb627, #e850c0);
    color: white;
    box-shadow: 1px 9px 15px 0px #00000033;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;

  }
  button[type="submit"]:hover {
    background: linear-gradient(90deg, #ffcc4d, #ff5fd2);
    box-shadow:
      0 0 10px rgba(255, 182, 39, 0.5),
      0 0 20px rgba(232, 80, 192, 0.4);
    transform: scale(1.03);
  }
  button[type="button"] {
    width: 300;
height: 50;
opacity: 1;
border-radius: 20px;
border-width: 1px;
border: #4A56E2;
    margin-top: 20px;
    background: white;
    color: #623F8B;
  }
  button[type="button"]:hover{
    background: #f5f5f5;
    transform: translateY(-3px);
  }
  .wrapper {
    min-height: 100vh;
  
    background-image:
     
      url("../assets/GradientBackForms.png");
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loginForm {
    width: 533px;
    padding: 60px 65px;
   height: 570px;
 
    backdrop-filter: blur(50px);
    backdrop-filter: blur(100px);
    box-shadow: 0px 4px 60px 0px #00000040;
    border-radius: 8px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .logoText {
    color: white;
    font-size: 26px;
    margin: 15px 0 40px;
  }

  .logo{
    color: aliceblue;
 font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 1;
letter-spacing: 0.1em;
text-align: center;
text-transform: uppercase;
margin-bottom: 50px;

  }

  .logos{
    margin-bottom: 15px;
  }
  